---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?place=bozeman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.828 TT 0 0.846"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 80,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL2949294W",
                    "type": "work",
                    "seed": [
                        "/books/OL6648908M",
                        "/books/OL14296154M",
                        "/books/OL5047384M",
                        "/books/OL1859216M",
                        "/works/OL2949294W",
                        "/subjects/history",
                        "/subjects/indians_of_north_america",
                        "/subjects/oglala_indians",
                        "/subjects/overland_journeys_to_the_pacific",
                        "/subjects/red_cloud's_war_1866-1867",
                        "/subjects/wars",
                        "/subjects/person:red_cloud_(1822-1909)",
                        "/subjects/place:bozeman_trail",
                        "/subjects/place:bozeman_trail_(mont._and_wyo.)",
                        "/subjects/place:west_(u.s.)",
                        "/authors/OL449981A"
                    ],
                    "title": "The Bozeman trail",
                    "title_suggest": "The Bozeman trail",
                    "has_fulltext": true,
                    "edition_count": 4,
                    "edition_key": [
                        "OL6648908M",
                        "OL14296154M",
                        "OL5047384M",
                        "OL1859216M"
                    ],
                    "publish_date": [
                        "1978",
                        "1922",
                        "1990",
                        "1960"
                    ],
                    "publish_year": [
                        1978,
                        1922,
                        1990,
                        1960
                    ],
                    "first_publish_year": 1922,
                    "lccn": [
                        "22021956",
                        "90012364",
                        "74007973"
                    ],
                    "publish_place": [
                        "New York",
                        "Glendale, Calif",
                        "Cleveland",
                        "Lincoln"
                    ],
                    "oclc": [
                        "3184260",
                        "3892958"
                    ],
                    "contributor": [
                        "Brininstool, Earl Alonzo, 1870-,",
                        "Brininstool, E. A. 1870-1957.",
                        "Brininstool, E. A. 1870-1957, joint author."
                    ],
                    "lcc": [
                        "F--0591.00000000.H4 1990",
                        "F--0591.00000000.H4 1978",
                        "F--0591.00000000.H4",
                        "F--0591.00000000 H4 1960"
                    ],
                    "ddc": [
                        "978.02"
                    ],
                    "isbn": [
                        "9780803272491",
                        "0404118607",
                        "9780404118600",
                        "0803272502",
                        "0803272499",
                        "9780803272507"
                    ],
                    "last_modified_i": 1605074797,
                    "ebook_count_i": 1,
                    "ia": [
                        "bozemantrailhis00bringoog"
                    ],
                    "public_scan_b": true,
                    "ia_collection_s": "americana;fav-toku49;fav-timerover",
                    "cover_edition_key": "OL6648908M",
                    "cover_i": 5849225,
                    "publisher": [
                        "A.H. Clark",
                        "AMS Press",
                        "University of Nebraska Press",
                        "The Arthur H. Clark Company"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL449981A"
                    ],
                    "author_name": [
                        "Grace Raymond Hebard"
                    ],
                    "person": [
                        "Red Cloud (1822-1909)"
                    ],
                    "place": [
                        "Bozeman Trail",
                        "Bozeman Trail (Mont. and Wyo.)",
                        "West (U.S.)"
                    ],
                    "subject": [
                        "History",
                        "Indians of North America",
                        "Oglala Indians",
                        "Overland journeys to the Pacific",
                        "Red Cloud's War, 1866-1867",
                        "Wars",
                        "Accessible book"
                    ],
                    "id_goodreads": [
                        "3426224",
                        "1535338",
                        "744480"
                    ],
                    "id_librarything": [
                        "4682158"
                    ],
                    "publisher_facet": [
                        "A.H. Clark",
                        "AMS Press",
                        "The Arthur H. Clark Company",
                        "University of Nebraska Press"
                    ],
                    "person_key": [
                        "red_cloud_(1822-1909)"
                    ],
                    "place_key": [
                        "bozeman_trail",
                        "bozeman_trail_(mont._and_wyo.)",
                        "west_(u.s.)"
                    ],
                    "person_facet": [
                        "Red Cloud (1822-1909)"
                    ],
                    "subject_facet": [
                        "Accessible book",
                        "History",
                        "Indians of North America",
                        "Oglala Indians",
                        "Overland journeys to the Pacific",
                        "Red Cloud's War, 1866-1867",
                        "Wars"
                    ],
                    "_version_": 1715090353982275586,
                    "place_facet": [
                        "Bozeman Trail",
                        "Bozeman Trail (Mont. and Wyo.)",
                        "West (U.S.)"
                    ],
                    "lcc_sort": "F--0591.00000000.H4 1990",
                    "author_facet": [
                        "OL449981A Grace Raymond Hebard"
                    ],
                    "subject_key": [
                        "accessible_book",
                        "history",
                        "indians_of_north_america",
                        "oglala_indians",
                        "overland_journeys_to_the_pacific",
                        "red_cloud's_war_1866-1867",
                        "wars"
                    ],
                    "ddc_sort": "978.02"
                },
                {
                    "key": "/works/OL15313722W",
                    "type": "work",
                    "seed": [
                        "/books/OL710578M",
                        "/books/OL6797447M",
                        "/books/OL17922881M",
                        "/works/OL15313722W",
                        "/subjects/guidebooks",
                        "/subjects/hiking",
                        "/subjects/place:montana",
                        "/subjects/place:bozeman_region",
                        "/subjects/place:bozeman_region_(mont.)",
                        "/authors/OL40369A"
                    ],
                    "title": "Day hikes around Bozeman, Montana",
                    "title_suggest": "Day hikes around Bozeman, Montana",
                    "subtitle": "including the Gallatin Canyon and Paradise Valley",
                    "has_fulltext": false,
                    "edition_count": 3,
                    "edition_key": [
                        "OL710578M",
                        "OL6797447M",
                        "OL17922881M"
                    ],
                    "publish_date": [
                        "1998",
                        "2007",
                        "2001"
                    ],
                    "publish_year": [
                        1998,
                        2007,
                        2001
                    ],
                    "first_publish_year": 1998,
                    "number_of_pages_median": 128,
                    "lccn": [
                        "2005938992",
                        "00091658",
                        "97074948"
                    ],
                    "publish_place": [
                        "Red Lodge, MT",
                        "Red Lodge, Mont",
                        "Guilford, CT"
                    ],
                    "oclc": [
                        "46683951",
                        "123240761",
                        "38862278"
         [...]
