---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<fake_uid>&location=akjdfhaeu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Mar 2022 18:35:22 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"akjdfhaeu"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<fake_uid>&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=-1703934807"}]}]}'
  recorded_at: Mon, 07 Mar 2022 18:35:22 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<fake_key>&exclude=minutely,alerts&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1646678122,"sunrise":1646658011,"sunset":1646699677,"temp":32.43,"feels_like":23.83,"pressure":1029,"humidity":36,"dew_point":10.99,"uvi":3.95,"clouds":5,"visibility":10000,"wind_speed":10.87,"wind_deg":328,"wind_gust":12.86,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1646676000,"temp":32.61,"feels_like":23.52,"pressure":1029,"humidity":37,"dew_point":11.7,"uvi":3.91,"clouds":5,"visibility":10000,"wind_speed":12.06,"wind_deg":330,"wind_gust":14.41,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1646679600,"temp":32.43,"feels_like":23.83,"pressure":1029,"humidity":36,"dew_point":10.99,"uvi":3.95,"clouds":5,"visibility":10000,"wind_speed":10.87,"wind_deg":328,"wind_gust":12.86,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1646683200,"temp":33.53,"feels_like":25.63,"pressure":1029,"humidity":35,"dew_point":11.32,"uvi":3.35,"clouds":5,"visibility":10000,"wind_speed":10,"wind_deg":325,"wind_gust":11.68,"weather":[{"id":800,"main[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?place=akjdfhaeu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.099 TT 0 0.100"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "",
            "offset": null
        }
  recorded_at: Mon, 07 Mar 2022 18:35:22 GMT
- request:
    method: get
    uri: http://openlibrary.org/search.json?place=akjdfhaeu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.093 TT 0 0.094"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "",
            "offset": null
        }
  recorded_at: Mon, 07 Mar 2022 18:35:23 GMT
recorded_with: VCR 6.0.0
