---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<fake_key>&query=Bozeman,MT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<fake_key>&page=166&query=Bozeman%2CMT>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<fake_key>&page=2&query=Bozeman%2CMT>;
        rel="next"
      X-Total:
      - '1656'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"bba8af12104c8ecc08e52d7b3192e070"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1656,"total_pages":166,"results":[{"id":"1jfFEimevz4","created_at":"2020-03-26T19:23:06-04:00","updated_at":"2022-03-07T09:27:21-05:00","promoted_at":null,"width":2830,"height":2221,"color":"#0c408c","blur_hash":"LgEf~ht7aeof4|bcX9bHH;WCofa}","description":"Came
        across a heard of these guys while out for a hike in the Bridger Range north
        of Bozeman, MT. It was on the 4th of July and the mountains were quite busy
        so I was surprised to see the goats so close to the trail. I wanted to respect
        their space but felt lucky to have gotten such a rare close up. ","alt_description":"white
        and brown goat on rocky mountain during daytime","urls":{"raw":"https://images.unsplash.com/photo-1585264924119-e0cfdb8c85f5?ixid=MnwzMDc2NDN8MHwxfHNlYXJjaHwxfHxCb3plbWFuJTJDTVR8ZW58MHx8fHwxNjQ2NjY5OTE2\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1585264924119-e0cfdb8c85f5?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwzMDc2NDN8MHwxfHNlYXJjaHwxfHxCb3plbWFuJTJDTVR8ZW58MHx8fHwxNjQ2NjY5OTE2\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1585264924119-e0cfdb8c85f5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc2NDN8MHwxfHNlYXJjaHwxfHxCb3plbWFuJTJDTVR8ZW58MHx8fHwxNjQ2NjY5OTE2\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1585264924119-e0cfdb8c85f5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc2NDN8MHwxfHNlYXJjaHwxfHxCb3plbWFuJTJDTVR8ZW58MHx8fHwxNjQ2NjY5OTE2\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1585264924119-e0cfdb8c85f5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc2NDN8MHwxfHNlYXJjaHwxfHxCb3plbWFuJTJDTVR8ZW58MHx8fHwxNjQ2NjY5OTE2\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1585264924119-e0cfdb8c85f5"},"links":{"self":"https://api.unsplash.com/photos/1jfFEimevz4","html":"https://unsplash.com/photos/1jfFEimevz4","download":"https://unsplash.com/photos/1jfFEimevz4/download?ixid=MnwzMDc2NDN8MHwxfHNlYXJjaHwxfHxCb3plbWFuJTJDTVR8ZW58MHx8fHwxNjQ2NjY5OTE2","download_location":"https://api.unsplash.com/photos/1jfFEimevz4/download?ixid=MnwzMDc2NDN8MHwxfHNlYXJjaHwxfHxCb3plbWFuJTJDTVR8ZW58MHx8fHwxNjQ2NjY5OTE2"},"categories":[],"likes":20,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"P94qKkgBp8I","updated_at":"2022-03-04T08:54:19-05:00","username":"lee_peters","name":"Lee
        Peters","first_name":"Lee","last_name":"Peters","twitter_username":null,"portfolio_url":null,"bio":"Sharing
        experiences through photography. ","location":"Burlington, VT","links":{"self":"https://api.unsplash.com/users/lee_peters","html":"https://unsplash.com/@lee_peters","photos":"https://api.unsplash.com/users/lee_peters/photos","likes":"https://api.unsplash.com/users/lee_peters/likes","portfolio":"https://api.unsplash.com/users/lee_peters/portfolio","following":"https://api.unsplash.com/users/lee_peters/following","followers":"https://api.unsplash.com/users/lee_peters/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1614961658525-37a2f2399b40image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1614961658525-37a2f2399b40image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1614961658525-37a2f2399b40image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"leepeters23","total_collections":0,"total_likes":3,"total_photos":24,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"leepeters23","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"bozeman"},{"type":"search","title":"mt"},{"type":"search","title":"usa"}]},{"id":"h9rgM0VyaDM","created_at":"2020-04-25T15:48:27-04:00","updated_at":"2022-03-07T08:25:29-05:00","promoted_at":null,"width":4592,"height":3448,"color":"#262626","blur_hash":"LvF?X}ayIAWB~qWCR*WB?bWBofWW","description":"After
        an 8 mile hike, we got to this amazing reservoir.","alt_description":"lake
        surrounded by green mountains under white sky during daytime","urls":{"raw":"https://images.unsplash.co[...]
