---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=39f5d3452669ed671bf7332d97638087&exclude=minutely,alerts&lat=45.679294&lon=-111.046611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.6793,"lon":-111.0466,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646521641,"sunrise":1646488531,"sunset":1646529365,"temp":25.65,"feels_like":17.91,"pressure":1015,"humidity":69,"dew_point":17.87,"uvi":0.72,"clouds":100,"visibility":10000,"wind_speed":6.91,"wind_deg":230,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1646521200,"temp":25.65,"feels_like":25.65,"pressure":1015,"humidity":69,"dew_point":17.87,"uvi":0.72,"clouds":100,"visibility":10000,"wind_speed":2.93,"wind_deg":250,"wind_gust":3.71,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646524800,"temp":25.77,"feels_like":25.77,"pressure":1016,"humidity":71,"dew_point":18.59,"uvi":0.24,"clouds":99,"visibility":10000,"wind_speed":1.9,"wind_deg":222,"wind_gust":3.2,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646528400,"temp":24.57,"feels_like":24.57,"pressure":1018,"humidity":76,"dew_point":18.82,"uvi":0,"clouds":95,"visibility":10000,"wind_speed":1.63,"wind_deg":167,"wind_gust":2.93,"weather":[{"id":804,"m[...]
