---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=39f5d3452669ed671bf7332d97638087&exclude=minutely,alerts&lat=45.679294&lon=-111.046611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.6793,"lon":-111.0466,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646540068,"sunrise":1646488531,"sunset":1646529365,"temp":22.32,"feels_like":16.14,"pressure":1018,"humidity":76,"dew_point":16.63,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.61,"wind_deg":360,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1646539200,"temp":22.32,"feels_like":22.32,"pressure":1018,"humidity":76,"dew_point":16.63,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.62,"wind_deg":138,"wind_gust":3.33,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1646542800,"temp":21.36,"feels_like":21.36,"pressure":1020,"humidity":79,"dew_point":16.48,"uvi":0,"clouds":93,"visibility":8877,"wind_speed":2.37,"wind_deg":146,"wind_gust":3.18,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1646546400,"temp":20.39,"feels_like":20.39,"pressure":1021,"humidity":82,"dew_point":16.29,"uvi":0,"clouds":86,"visibility":10000,"wind_speed":2.17,"wind_deg":164,"wind_gust":2.71,"weather":[{"id":804,"mai[...]
