---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=39f5d3452669ed671bf7332d97638087&exclude=minutely,alerts&lat=45.679294&lon=-111.046611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.6793,"lon":-111.0466,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646674815,"sunrise":1646661109,"sunset":1646702329,"temp":24.15,"feels_like":20.44,"pressure":1021,"humidity":56,"dew_point":12.18,"uvi":2.21,"clouds":100,"visibility":10000,"wind_speed":3,"wind_deg":251,"wind_gust":4,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1646672400,"temp":23.94,"feels_like":19.54,"pressure":1023,"humidity":58,"dew_point":12.69,"uvi":1.51,"clouds":86,"visibility":10000,"wind_speed":3.42,"wind_deg":294,"wind_gust":4.56,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646676000,"temp":24.15,"feels_like":19.33,"pressure":1021,"humidity":56,"dew_point":12.18,"uvi":2.21,"clouds":100,"visibility":10000,"wind_speed":3.76,"wind_deg":294,"wind_gust":5.19,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646679600,"temp":24.71,"feels_like":20.5,"pressure":1022,"humidity":57,"dew_point":13.08,"uvi":2.63,"clouds":98,"visibility":10000,"wind_speed":3.38,"wind_deg":298,"wind_gust":5.28,"weather":[{"id":8[...]
