---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<fake_map_key>&location=Bozeman,MT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 08 Mar 2022 17:59:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Bozeman,MT"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bozeman","adminArea5Type":"City","adminArea4":"Gallatin
        County","adminArea4Type":"County","adminArea3":"MT","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040164","unknownInput":"","type":"s","latLng":{"lat":45.679294,"lng":-111.046611},"displayLatLng":{"lat":45.679294,"lng":-111.046611},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<fake_map_key>&type=map&size=225,160&locations=45.679294,-111.046611|marker-sm-50318A-1&scalebar=true&zoom=12&rand=46847559"}]}]}'
  recorded_at: Tue, 08 Mar 2022 17:59:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<fake_weather_key>&exclude=minutely,alerts&lat=45.679294&lon=-111.046611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.6793,"lon":-111.0466,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646762394,"sunrise":1646747397,"sunset":1646788810,"temp":18.5,"feels_like":7.66,"pressure":1018,"humidity":78,"dew_point":13.42,"uvi":2.12,"clouds":100,"visibility":2414,"wind_speed":8.99,"wind_deg":178,"wind_gust":15.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1646758800,"temp":18.63,"feels_like":11.84,"pressure":1020,"humidity":81,"dew_point":14.31,"uvi":1.45,"clouds":100,"visibility":303,"wind_speed":4.61,"wind_deg":350,"wind_gust":5.95,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.83,"snow":{"1h":0.42}},{"dt":1646762400,"temp":18.5,"feels_like":11.57,"pressure":1018,"humidity":78,"dew_point":13.42,"uvi":2.12,"clouds":100,"visibility":315,"wind_speed":4.7,"wind_deg":358,"wind_gust":5.53,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.85,"snow":{"1h":0.4}},{"dt":1646766000,"temp":18.88,"feels_like":11.21,"pressure":1020,"humidity":80,"dew_point":14.31,"uvi":2.56,"clouds":100,"visibility":427,"wind_speed":5.41,"wind_deg":359,"wind_gust":5.7[...]
