---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<fake_uid>&location=Bozeman,%20MT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Mar 2022 18:35:14 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Bozeman,
        MT"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bozeman","adminArea5Type":"City","adminArea4":"Gallatin
        County","adminArea4Type":"County","adminArea3":"MT","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040164","unknownInput":"","type":"s","latLng":{"lat":45.679294,"lng":-111.046611},"displayLatLng":{"lat":45.679294,"lng":-111.046611},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<fake_uid>&type=map&size=225,160&locations=45.679294,-111.046611|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-919523483"}]}]}'
  recorded_at: Mon, 07 Mar 2022 18:35:14 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<fake_key>&exclude=minutely,alerts&lat=45.679294&lon=-111.046611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.6793,"lon":-111.0466,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646678113,"sunrise":1646661109,"sunset":1646702329,"temp":27.3,"feels_like":24.01,"pressure":1021,"humidity":52,"dew_point":13.68,"uvi":2.63,"clouds":100,"visibility":10000,"wind_speed":3,"wind_deg":20,"wind_gust":5.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1646676000,"temp":26.85,"feels_like":22.64,"pressure":1022,"humidity":54,"dew_point":14.02,"uvi":2.21,"clouds":93,"visibility":10000,"wind_speed":3.6,"wind_deg":293,"wind_gust":5.23,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646679600,"temp":27.3,"feels_like":23.67,"pressure":1021,"humidity":52,"dew_point":13.68,"uvi":2.63,"clouds":100,"visibility":10000,"wind_speed":3.22,"wind_deg":296,"wind_gust":5.46,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646683200,"temp":27.54,"feels_like":23.59,"pressure":1022,"humidity":54,"dew_point":14.67,"uvi":2.6,"clouds":100,"visibility":10000,"wind_speed":3.47,"wind_deg":307,"wind_gust":5.37,"weather":[{"id":8[...]
